@charset "utf-8";
html, body {
    height: 100%;
    overflow-y: hidden
}

body {
    position: relative;
    min-width: 1200px;
    font-family: "Dotum", "Arial", sans-serif;
    font-size: 12px;
    color: #333;
    background: #000;
}

.posNum {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 50px;
    margin: -25px 0 0 -150px;
    background: #111;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    z-index: 9999
}

.scrollBox {
    min-width: 1200px;
    height: 100%;
    position: relative
}

.scrollBox .wrap {
    min-width: 1200px;
    position: relative;
    overflow: hidden
}

.scrollBox .wrap > div {
    position: relative
}

.scrollBox .wrap .objs > li {
    position: absolute;
    left: 50%
}

#header {}



#scene01 {
    width: 100%;
    height: 100%;
    position : relative;
    left: 50%;
    transform: translateX(-50%);
}

#scene01 {
    position : relative;
    width: 1920px;
    height: 2501px;
    background: #f5f5f7;
}

#scene01 .img1{
    position: absolute;
    left: 0;
    top: 0;
}

/*scene01 end*/


#scene02 {
    width: 100%;
    height: 100%;
    position : relative;
    left: 50%;
    transform: translateX(-50%);
}

#scene02 {
    position : relative;
    width: 1920px;
    height: 3705px;
    background: #191919;
}

#scene02 .img2{
    position: absolute;
    left: 0;
    top: 0;
}

/*scene02 end*/

#scene03 {
    width: 100%;
    height: 100%;
    position : relative;
    left: 50%;
    transform: translateX(-50%);
}

#scene03 {
    position : relative;
    width: 1920px;
    height: 7414px;
    background: #191919;
}

#scene03 .img3{
    position: absolute;
    left: 0;
    top: 0;
}

/*scene03 end*/

#scene04 {
    width: 100%;
    height: 100%;
    position : relative;
    left: 50%;
    transform: translateX(-50%);
}

#scene04 {
    position : relative;
    width: 1920px;
    height: 827px;
    background: #f5f5f7;
}

#scene04 .img4{
    position: absolute;
    left: 0;
    top: 0;
}

/*scene04 end*/




